Name: BlurryBadges (iOS 13+)
Package: com.ps.blurrybadges
Conflicts: org.thebigboss.blurrybadges, com.spicat.blurrybadges
Author: PoomSmart
Maintainer: PoomSmart
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader
Section: Tweaks
Version: 1.0.0
Architecture: iphoneos-arm
Description: Colored blur for SpringBoard icon badges.
Depiction: https://poomsmart.github.io/repo/depictions/blurrybadges.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/blurrybadges.json
